#login_section{
    padding-top: 30vh;
    padding-bottom: 30vh;
    height: 140vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: linear-gradient(black, black), url("/images/nurse4.jpg");
    background-blend-mode: saturation;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
form{
    width: 50%;
    /* cisioaoidajdo */
    height: 20%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form[name=form_signin] {
    height: 50%;
}
input{
    font-size: 14;
    font-family: 'Open Sans';
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: black;
    background-image: none;
    color: white;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
input[type=submit] {
    width: 19%;
    background-color: rgba(0, 0, 0, 0);
}
input[type=submit]:hover {
    color: var(--orange);
    background-color: var(--grey_hover);;
}
input[type=text], input[type=password] {
    width: 60%;
    height: 50px;
    margin: 5px;
}
#login_section h3{
    z-index: 1;
    margin: 30px;
    font-weight: normal;
    text-align: center;
}
.error {
    background-color: rgba(255, 0, 0, 0.39) !important;
}
#main{
    display: block !important;
}
@media (max-width: 700px) {
    form{
        width: 80%;
    }
    input[type=text] {
        width: 100%;
    }
    input[type=submit] {
        width: 100%;
    }
    input[type=password] {
        width: 100%;
    }
}