#main{
    display: block;
}
#services{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-image: linear-gradient(black, black), url("/images/nurse5.jpg");
    background-blend-mode: saturation;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form_cont{
    padding-top: 30vh;
    padding-bottom: 30vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
}
select {
    width: 40%;
    height: 50px;
    margin: 5px;
    font-size: 14;
    outline: 0;
    border: 0 !important;
    font-family: 'Open Sans';
    letter-spacing: 3px;
    color: rgb(122, 122, 122);
    cursor: pointer;
    text-transform: uppercase;
    background-color: black;
}
select option {
    background-color: var(--dark_gray);
}
input{
    font-size: 14;
    font-family: 'Open Sans';
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: black;
    background-image: none;
    color: white;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
input[type=submit] {
    width: 19%;
    background-color: rgba(0, 0, 0, 0);
}
input[type=submit]:hover {
    color: var(--orange);
    background-color: var(--grey_hover);;
}
input[type=text], input[type=password] {
    width: 40%;
    height: 50px;
    margin: 5px;
}
input[type=date]{
    width: 40%;
    height: 50px;
    margin: 5px;
    color: rgb(122, 122, 122);
}

.errore_ins{
    display: block;
    font-size: 15;
    color: red;
    z-index: 1;
    font-weight: bold;
    width: 100%;
}
.ok{
    display: block;
    font-size: 15;
    color: green;
    z-index: 1;
    font-weight: bold;
    width: 100%;
}
@media (max-width: 700px) {
    #services{
        flex-direction: column;
    }
    .form_cont{
        width: 80vw;
        align-items: center;
    }
    input[type=submit], input[type=text], input[type=date] {
        width: 100%;
    }
    select{
        width: 100%;
    }
    h3{
        text-align: center;
    }
}