#main{
    display: block;
}
#text{
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: linear-gradient(black, black), url("/images/people2.jpg");
    background-blend-mode: saturation;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.582);
    
}
p{
    padding: 3vw 10vw;
    z-index: 1;
}
h2, h3, ul{
    z-index: 1;
}
@media (max-width: 700px) {
    p{
        width: 70vw !important;
        overflow: scroll;
        font-size: 13;
    }
}